/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
*/

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

:focus {
    /*Get rid of annoying blue outline when you click on anything*/
    outline: none !important;
}
.ui-dialog {
    padding: 0;
    border-radius: 1px;
    border: 1px solid #666;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
    background: white;
}
.ui-dialog-titlebar {
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    background: #AAA;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    padding-top:2px !important;
    padding-bottom:2px !important;
}
.ui-icon-closethick {
    background-image: none;
}

button {
    text-align: center;
    background: #EEE;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    /*text-shadow: 1px 1px #AAA;*/
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}
button:hover {
    background: white;
}
button:active {
    background: #CCC;
}
.button_hidden {
    visibility: hidden;
}
.button_disabled {
    background: #CCC;
}
.button_disabled:hover {
    background: #CCC;
}
.button_disabled:active {
    background: #CCC;
}

.button_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    margin: 0 10px;
}

#units_dialog_cities_div {
    display:block;
    padding-left:80px;
    border-bottom:1px solid #999;
}

#units_dialog_types_div {
    float:left;
    width:80px;
    height: 450px;
    border-right:1px solid #999;
}

#unitTypeColumn {
    padding-bottom: 15px;
}

.unit_city_btn {
    width:80px;
    margin:5px;
}

.unit_type_btn {
    width:80px;
    margin:5px;
}

.unit_btn {
    margin:5px;
}

.glowlightgreen {
    background: lightgreen !important;
}

#units_dialog_units {
    float:left;
}

.clear_both {
    clear: both;
}

.sector_toprow_btn {
    float:left;
    margin:5px;
}

#top_header_container {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 50;
    padding-right:100px;
}
#top_header_mayday_container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    z-index: 50;
    padding-right:100px;
    pointer-events: none;
}
#mayday_btn {
    width:130px;
    margin-left:auto;
    display: inline-block;
    background: red;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    font-size: 1.25rem;
    padding: 0 20px;
    text-align: center;
    height:33px;
    pointer-events:auto;
}
#mayday_btn:hover {
    background: #FF9696;
}
#mayday_btn:active {
    background: #C20000;
}


#mode_btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
    float:right;
    margin-right: 10px;
    font-size:1.2rem;
    padding: 0 20px;
    height:33px;
}
.offensive_btn {
    background: #66dd65;
    border-right: 2px #88be54 solid;
    border-bottom: 2px #88be54 solid;
    border-left: 2px #88be54 solid;
    /*color: white;*/
}
.offensive_btn:hover {
    background: #00a400;
}
.offensive_btn:active {
    background: green;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}

.top_header_btn {
    float:left;
}
.top_header_btn_icon {
    width: 25px;
    height: 25px;
}

#version_text {
    position:fixed;
    bottom: 10px;
    left: 10px;
    background: white;
    z-index: 50;
}

.grid {

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='grid_item_'] {
    float: left;
}
.grid_item_1_4 {
    width:25%;
}

#sector_name_dlg_grid_container {
    background: white;
}

.dlg_sector_name_btn {
    margin: 5px !important;
    box-shadow: 1px 1px 2px #888;
}

.sector_numdir_btn {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0;
    margin: 4px;
}
