/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
*/

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

:focus {
    /*Get rid of annoying blue outline when you click on anything*/
    outline: none !important;
}
.ui-dialog {
    padding: 0;
    border-radius: 1px;
    border: 1px solid #666;
    background: white;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}
.ui-dialog-titlebar {
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    background: #AAA;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    padding-top:2px !important;
    padding-bottom:2px !important;
}
.ui-icon-closethick {
    background-image: none;
}

button {
    text-align: center;
    background: #EEE;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    /*text-shadow: 1px 1px #AAA;*/
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}
button:hover {
    background: white;
}
button:active {
    background: #CCC;
}
.button_hidden {
    visibility: hidden;
}
.button_disabled {
    background: #CCC;
}
.button_disabled:hover {
    background: #CCC;
}
.button_disabled:active {
    background: #CCC;
}

.button_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    margin: 0 10px;
}

#units_dialog_cities_div {
    display:block;
    padding-left:80px;
    border-bottom:1px solid #999;
}

#units_dialog_types_div {
    float:left;
    width:80px;
    height: 450px;
    border-right:1px solid #999;
}

#unitTypeColumn {
    padding-bottom: 15px;
}

.unit_city_btn {
    width:80px;
    margin:5px;
}

.unit_type_btn {
    width:80px;
    height:20px;
    font-size:0.85rem !important;
    margin:5px;
}

.unit_tbar_btn {
    margin: 5px;
}
.unit_dlg_btn {
    margin: 5px;
}

.glowlightgreen {
    background: lightgreen !important;
}

.glow_orange {
    background: #FFAD2C;
}
.glow_orange:hover {
    background: #FFAD2C;
}
.glow_blue {
    background: #2A5071;
    color: #DDD;
    box-shadow: 2px 2px 2px #172C3E;
}
.glow_blue:hover {
    background: #2A5071;
}
.glowlightyellow {
    /*background: #FFFF99;*/
    background: #FFFF88;
}
.glowlightyellow.unit_row_div {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
/*.unit_row_div.glowlightyellow>.unit_btn{
    margin-right:2px;
}*/

.font_red {
    color: red !important;
}
.glowred {
    background: red !important;
    color: white;
}
.glowred:hover {
    background: darkred !important;
    color: white;
}
.glowred:active {
    background: #666 !important;
    color: white;
}
.glowpink {
    background: pink !important;
    color: #666;
}
.glowpink:hover {
    background: red !important;
    color: white;
}
.glowpink:hover {
    background: red !important;
    color: white;
}
.glowpink:active {
    background: #666;
    color: white;
}
.glowlightblue {
    background: DeepSkyBlue;
}
.glowlightgreen {
    background: LightGreen !important;
}
.glowlightgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen {
    background: green;
    color: white;
}
.glowgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen:active {
    background: #666;
    color: white;
}
.glowbabyblue {
    background: #99e5ff;
}
.glowbabyblue:hover {
    background: #77ddff;
}
.glowbabyblue:active {
    background: #66aaff;
}

#units_dialog_units {
    float:left;
}

.clear_both {
    clear: both;
}

.sector_toprow_btn {
    float:left;
    margin:5px;
}

#top_header_container {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 50;
    padding-right:100px;
}
#top_header_mayday_container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    z-index: 50;
    padding-right:100px;
    pointer-events: none;
}
#mayday_btn {
    width:130px;
    margin-left:auto;
    display: inline-block;
    background: red;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    font-size: 1.25rem;
    padding: 0 20px;
    text-align: center;
    height:33px;
    pointer-events:auto;
}
#mayday_btn:hover {
    background: #FF9696;
}
#mayday_btn:active {
    background: #C20000;
}


#mode_btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
    float:right;
    margin-right: 10px;
    font-size:1.2rem;
    padding: 0 20px;
    height:33px;
}
.offensive_btn {
    background: #66dd65;
    border-right: 2px #88be54 solid;
    border-bottom: 2px #88be54 solid;
    border-left: 2px #88be54 solid;
    /*color: white;*/
}
.offensive_btn:hover {
    background: #00a400;
}
.offensive_btn:active {
    background: green;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}

.top_header_btn {
    float:left;
}
.top_header_btn_icon {
    width: 25px;
    height: 25px;
}

#osr_header_btn {
    margin-top:100px;
}

#version_text {
    position:fixed;
    bottom: 10px;
    left: 10px;
    background: white;
    z-index: 50;
}

.grid {

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='grid_item_'] {
    float: left;
}
.grid_item_1_4 {
    width:25%;
}

#sector_name_dlg_grid_container {
    background: white;
}

.dlg_sector_name_btn {
    margin: 5px !important;
    box-shadow: 1px 1px 2px #888;
}

.sector_numdir_btn {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0;
    margin: 4px;
}
#sector_num_container {
    float:right;
}

.unit_dlg_units_container {
    overflow: scroll;
    height: 590px;
    width:760px;
}
.type_row_for_unit_btns {
    margin: 20px auto;
}
#dispatched_units_div {
    width: 846px;
    min-height: 60px;
    margin: 2px;
    border: 3px double #666;
}
#title_dispatched_units_div {
    color: #999;
    margin: 1px;
}
.dispatched_unit_btn {
    margin: 4px 4px 6px 4px;
    float: left;
}

.btn_smtext {
    font-size:0.8rem !important;
}
.btn_medtext {
    font-size:0.85rem !important;
}

.clock_icon {
    width: 10px;
    height: 10px;
    margin: 0 7px;
}
.clock_icon:hover {
    cursor: pointer !important;
}

.action_dialog_btn {
    margin: 5px !important;
}
.action_type_dialog_header {
    text-align: center;
    /*font-size: 1.1rem;*/
    font-weight: bold;
    color: black;
    margin-top: 8px;
    border-top: 1px solid #DDD;
}

.upgrade_btn {
    width: 150px;
    margin: 5px;
    display:block;
}
#upgrade_right_col {
    float:right;
}
#upgrade_left_col {
    float:left;
}


#osr_header_btn {
    height: 45px;
}
#osr_btn_perccomplete {
    font-size:0.6rem;
}
.osr_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
    display:block;
}
#osr_right_col {
    float:left;
    /*padding-top: 15px;*/
}
#osr_left_col {
    float:left;
}
#osr_occupancy_right_col_label {
    margin-top: 10px;
    margin-right: 5px;
    float:left;
}
#osr_floors {
    float:left;
}
.osr_toggle_container_div {
    margin: 10px 0 15px 0;
    height: 25px;
}
.osr_toggle_btn  {
    width: 100px;
    float:left;
    margin:0 5px;
}
#osr_occupancy_floors_div {
    margin: 10px 0 15px 0;
    height: 25px;
}
#osr_address_btn {
    width: 220px;
    margin:5px 0 15px 0;
}
.osr_select {
    text-align: center;
    background: #CCC;
    color: #666;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 220px;
    display:block;
    margin-bottom:15px;
}

.objective_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
    display:block;
}

#iap_table_main td {
    padding: 5px;
}
.iap_label_td {
    text-align: right;
}
.iap_red_label {
    font-size: 1.25rem;
    color: red;
}
.iap_blue_label {
    font-size: 1.25rem;
    color: blue;
}
.iap_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
    float: left;
}
.iap_toggle_btn {
    width: 100px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
    display: block;
}
#iap_sprinkler_toggle_btn {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
    display: block;
}
#iap_btn_evacloc {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_evacloc_dialog {
    width: 300px;
}
#iap_evacloc_input_container {
    float: left;
}
#iap_evacloc_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
}

.personnel_dlg_btn {
    margin: 5px;
}
.personnel_tbar_btn {
    margin: 5px;
}

.psi_dlg_btn {
    font-size: 0.6rem !important;
    margin: 0 5px 5px 0;
}
.psi_tbar_btn {
    /*margin: 5px;*/
}
.psi_red {
    background: red;
    color: #FFF !important;
}
.psi_yellow {background: yellow;}
.psi_green {background: #3dff00;}

.reset_clock_btn {
    float:right;
    width:120px;
    height:20px;
    height:22px;
    margin:4px 10px;
    padding: 0 4px;
}

.par_dlg_row {
    padding-left:150px;
}

.mayday_par_btn {
    margin: 5px 5px 5px 20px;
    background:red;
    color:white;
}

.par_dialog_unit {
    margin-top: 4px;
    border-top:1px solid #666;
}
.par_dialog_unit_leftcol {
    width:398px;
    float: left;
}
.par_dialog_people {
    width:398px;
    float: left;
}

.par_person_btn  {
    width: 100px;
    margin: 5px;
}
.par_dlg_left_col {
    width: 138px;
}

.benchmark_col_container {
    float: left;
}
.benchmark_1st_col_container {
    border-right: 1px solid #666;
}
.benchmark_double_btn {
    margin-bottom: 10px !important;
    height: 71px;
    font-size: 1.1rem;
    padding-top:10px;
}
.benchmark_item_btn {
    width: 150px;
    margin: 5px 10px;
    display: block;
}
.benchmark_btn_parent_div {
    padding: 5px 0 5px 0;
}

