/*
 **** HEADER ITEMS ****
 */
#ict_header {
    background: #BBB;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    z-index: 50;
    padding: 4px;
}

#title_icon {
    width: 90px;
    height: 90px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#title_icon:hover {
    /*cursor: pointer;*/
}

.header_item {
    margin-bottom: 4px;
    width:88px;
    height: 25px;
    display: block;
}
#iap_btn {
    margin-top: 10px;
}
#time {
    text-align: center;
    font-family: 'Carrois Gothic SC';
    font-size: 1.45rem;
    color: white;
}
.time_lg {
    font-size: 2.3rem !important;
    height: 43px;
}
#safety_btn_label {
    color: #FFF;
    width: 100%;
    border-top: 1px solid #888;
}
.safety_btn {
    width: 90px;
    height: 25px;
    z-index: 100;
}
.side_dialog_table tr {
    vertical-align: top;
}
.side_dialog {
    background: #666 ;
    z-index: 50;
    padding: 4px;
}
.side_dialog > div {
    margin:0 0 4px 0;
}
.side_dialog_arm {
    background: #666;
    height: 2rem;
    width: 100px;
    z-index: 45;
}
#safety_side_dialog {
    top: 157px;
}
#safety_side_dialog_arm {
    top: 157px;
}
#mode_btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
    float:right;
    margin-right: 10px;
    font-size:1.2rem;
    padding: 0 20px;
    height:30px;
}
#mode_side_dialog {
    top: 197px;
}
#mode_side_dialog_arm {
    top: 197px;
}
.offensive_btn {
    background: green !important;
    color: white;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}
#report_btn {
    z-index: 100;
    height: 45px;
}
#sectorreport_btn {
    z-index: 100;
    height: 45px;
}
.report_icon {
    width: 20px;
    height: 20px;
}
#dispatched_units_btn {
    z-index: 100;
    height: 46px;
    margin: 5px 0;
}
#cmd_term_btn {
    z-index: 100;
    font-size: 0.75rem;
    height: 53px;
}
#cmd_term_btn > div {
    height:12px;
}
.terminate_icon {
    width: 20px;
    height: 20px;
}

#header_row2 {
    display: table;
    height: -moz-calc(100% - 350px);
    height: -webkit-calc(100% - 350px);
    height: calc(100% - 350px);
    width: 92px;
}
#header_row3 {
    position: absolute;
    bottom: 10px;
    right: 2px;
    width: 94px;
    padding: 2px;
}
