
#reports_table_container {
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.report_toggle_btn {
    float: left;
    margin: 10px;
}

#print_report_btn {
    float: right;
    margin: 10px;
    width: 78px
}

#print_report_icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.reports_header {
    background-color: #EEE;
}

.report_dialog_body {
    height: 500px;
    overflow: scroll;
    background: white;
}
