<!doctype html>
<html lang="en" ng-app="ictApp">
<head>
    <meta charset="utf-8">
    <title>ICT</title>
    <link href="img/logo/ict_logo_29x29.png" rel="icon" />

    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.11.0.custom/jquery-ui.css"/>
    <link rel="stylesheet" href="css/ict/reset.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-gridster/dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="css/ict/stylesheet_global.css">
    <link rel="stylesheet" href="css/ict/stylesheet_tbar.css">
    <link rel="stylesheet" href="css/ict/stylesheet_header.css">

    <script src="js/libs/jquery-1.11.0.js"></script>
    <script src="js/libs/jquery-ui-1.10.4.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/Sector.js"></script>
    <script src="js/Unit.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/unique.js"></script>
    <script src="js/sector_units.js"></script>
    <script src="version.js"></script>
</head>
<body>

<div id="ict_header">
    <div id="time" class="time_lg header_item">00:00</div>
    <img id="title_icon" class="header_item" src="img/logo/ict_logo_100x100.png"/>
    <button id="dispatched_units_btn" class="header_item button">
        <div>Dispatched</div>
        <div>Units</div>
    </button>
    <button id="upgrade_btn" class="header_item button">Upgrade</button>

    <div id="header_row2" class="header_row">
        <div class="dialog_vertical_align_cell">
            <button id="osr_header_btn" class="header_item button">
                <div>OSR</div>
                <div id="osr_btn_perccomplete">(0% Complete)</div>
            </button>
            <button id="objectives_header_btn" class="header_item button">
                <div>Objectives</div>
                <div id="objectives_btn_perccomplete">(0% Complete)</div>
            </button>
            <button id="iap_btn" class="header_item button">IAP</button>
        </div>
    </div>

    <div id="header_row3" class="header_row">
        <!--<div id="cmd_term_btn" class="disabled header_item button">-->
            <!--<img class="terminate_icon" src="images/terminate.png"/>-->
            <!--<div>Command</div>-->
            <!--<div>Terminated</div>-->
        <!--</div>-->
        <button id="report_btn" class="header_item button">
            <!--<img class="report_icon" src="images/report.png"/>-->
            <div>Time</div>
            <div>Report</div>
        </button>
        <button id="sectorreport_btn" class="header_item button">
            <!--<img class="report_icon" src="images/report.png"/>-->
            <div>Sector Report</div>
        </button>
    </div>
</div><!-- ict_header-->

<div id="top_header_container">
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/medical.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/plane.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/hazmat.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/water.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/trench.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/mountain.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/palm.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/structure.png"/></button>
    <button class="top_header_btn button_top button"><img class="top_header_btn_icon" src="img/icons/confined.png"/></button>

    <button id="mode_btn" class="offensive_btn button_top button">OFFENSE</button>
    <div class="clear_float"></div>
</div>
<div id="top_header_mayday_container">
    <button id="mayday_btn" class="button_top button">MAYDAY</button>
</div>

<div id="tbar_container" ng-controller="TbarContainer">
    <div gridster="gridsterOpts">
        <tbar gridster-item="item" ng-repeat="sector in tbar_sectors">
            <div class="tbar_title_container">
                <button ng-disabled="!sector.parAvailable"
                        class="par-btn sector_toprow_btn"
                        ng-class="{glowlightgreen: sector.haspar, button_disabled:!sector.parAvailable}"
                        ng-click="showParDlg(sector)">PAR</button>
                <button class="sector_name_btn sector_toprow_btn" ng-click="showSectorNameDlg(sector)">
                    <table>
                        <tr>
                            <td class="tbar_title_dir_td">{{sector.sector_dir}}</td>
                            <td class="tbar_title_td">{{sector.name}}</td>
                            <td class="tbar_title_num_td">{{sector.sector_num}}</td>
                        </tr>
                    </table>
                </button>
                <button class="bnch-btn sector_toprow_btn" ng-click="showBnchDlg()">
                    <!--<span class="benchmarks_icon">-->
                        <!--<img class="benchmark_bar_img_1 benchmark_bar_img" src="img/bnch_bar_black.png"/>-->
                        <!--<img class="benchmark_bar_img_2 benchmark_bar_img" src="img/bnch_bar_black.png"/>-->
                        <!--<img class="benchmark_bar_img_3 benchmark_bar_img" src="img/bnch_bar_black.png"/>-->
                        <!--<img class="benchmark_bar_img_4 benchmark_bar_img" src="img/bnch_bar_black.png"/>-->
                    <!--</span>-->
                    BNCH
                </button>
                <div class="clear_both"></div>
            </div>


            <div class="clear_both"></div>

            <div class="unit_col_left unit_col tbar_col_left_div tbar_col_div">
                <!--<button class="unit_move_cancel_btn">Cancel</button>-->
                <button class="unit_add_btn" ng-click="showUnitsDlg(sector)">+Unit</button>
                <div class="clear_both"></div>
                <div class="left_scroll_pane scroll-pane jspScrollable">
                    <div class="jspContainer">
                        <div class="jspPane">
                            <div ng-repeat="unit in sector.units">
                                <button class="personnel_btn" ng-click="showParDlg(unit)">{{unit.par}}</button>
                                <button class="psi_green psi_btn" ng-click="showPsiDlg(unit)">{{unit.psi}}</button>
                                <button class="unit_btn"
                                        ng-class="{btn_smtext: unit.name.length>5, btn_medtext: unit.name.length>4}">
                                    {{unit.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="action_col_right tbar_col_right_div tbar_col_div">
                <button class="acct_unit_btn">@acct</button>
                <button class="action_add_btn" ng-click="showActionsDlg(sector)">+Action</button>
                <div class="clear_float"></div>
                <div class="right_scroll_pane scroll-pane jspScrollable">
                    <div class="jspContainer">
                        <div class="jspPane"></div>
                    </div>
                </div>
            </div>
        </tbar>
    </div>
</div>


<dialog id="sector_name_dlg" title="Sectors" ng-controller="SectorNamesDlg">
    <button
            class="sector_numdir_btn"
            ng-repeat="sector_dir in sector_dir_btns"
            ng-class="{glow_orange:selectedSector.sector_dir=='{{sector_dir.tbar}}'}"
            ng-click="setDir(sector_dir)">{{sector_dir.dialog}}</button>
    <div id="sector_num_container">
        <button
                class="sector_numdir_btn"
                ng-repeat="sector_num in sector_num_btns"
                ng-class="{glow_orange:selectedSector.sector_num=='{{sector_num}}'}"
                ng-click="setNum(sector_num)">{{sector_num}}</button>
    </div>
    <div class="clear_both"></div>
    <div id="sector_name_dlg_grid_container" class="grid">
        <div class="grid_item_1_4" ng-repeat="catalog_sector in catalog_sectors">
            <button
                    class="dlg_sector_name_btn sector_name_btn"
                    ng-class="{button_hidden: catalog_sector.name=='', glowlightgreen: tbar_sectors.findSectorByName(catalog_sector.name)>-1}"
                    ng-click="setSectorName(catalog_sector.name)">
                {{catalog_sector.name}}
            </button>
        </div>
    </div>
</dialog>

<dialog id="par-dlg" title="Sector PAR" ng-controller="ParDlg">
    <div class="par_dlg_row">
        <button class="par_sector_btn sector-name-btn">{{selectedSector.name}}</button>
    </div>
    <div id="par_dialog_units" ng-repeat="unit in selectedSector.units">
        <div class="par_dialog_unit_leftcol">
            <button class="personnel_btn">{{unit.par}}</button>
            <button class="psi_btn">{{unit.psi}}</button>
            <button class="unit_btn">{{unit.name}}</button>
            <div class="clear_float"></div>
            <button class="mayday_par_btn">Mayday</button>
        </div>
        <div class="par_dialog_people"></div>
        <div class="clear_float"></div>
    </div>
</dialog>

<dialog id="bnch-dlg" title="Benchmarks" ng-controller="BnchDlg"></dialog>

<dialog id="unit-info-dlg" title="Unit"></dialog>

<dialog id="units_dlg" title="Units" ng-controller="UnitsDlg">
    <div id="dispatched_units_div">
        <div id="title_dispatched_units_div">Dispatched Units</div>
        <div id="units_dispatched_units_div">
            <button class="unit_btn"
                    ng-repeat="unit in tbar_sectors | sector_units"
                    ng-click="selectDispatchedUnit(unit)">
                {{unit.name}}
            </button>
            <div id="units_dispatched_units_div_clear_float" class="clear_float"></div>
        </div>
    </div>
    <table>
        <tr>
            <td></td>
            <td>
                <button class="unit_city_btn"
                        ng-repeat="city in cities"
                        ng-click="selectCity(city)"
                        ng-class="{glowlightgreen:selected_city==city}">
                    {{city.name}}
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:80px">
                <button class="unit_type_btn"
                        ng-repeat="type in selected_city.types"
                        ng-click="selectType(type)"
                        ng-class="{glowlightgreen:selected_type_name==type.name}">
                    {{type.name}}
                </button>
            </td>
            <td>
                <div class="unit_dlg_units_container">
                    <div class="type_row_for_unit_btns"
                         ng-repeat="type in selected_city.types"
                         ng-if="selected_type_name=='' || selected_type_name==type.name">
                        <button class="unit_btn"
                                ng-repeat="unit in type.units"
                                ng-click="selectUnit(unit)"
                                ng-class="{glowlightgreen: tbar_sectors.unitInSectors().findSectorByName(unit.name)>-1, btn_smtext: unit.name.length>5, btn_medtext: unit.name.length>4}">
                            {{unit.name}}
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</dialog>

<dialog id="actions-dlg" title="Actions" ng-controller="ActionsDlg"></dialog>

<div id="version_text">Version: 0.0</div>

</body>
</html>
